<launch>


  <rosparam file="$(find yorat_control)/config/yorat_diff_drive.yaml" command="load" />


  <include file="$(find yorat_description)/launch/yorat_empty_world.launch" />


  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_yorat_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param yorat_description -model my_yorat"/>

  <node name="yorat_controller_manager" pkg="controller_manager" type="spawner"
    respawn="false" output="screen" args="mobile_base_controller" />


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/yorat/joint_states" />
  </node>

</launch>